.quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__main__word {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    background-color: rgb(0, 125, 228);
    border-radius: 10px;
    padding: 20px;
    color: white;
  }

  &__list {
    width: 100%;
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__variant {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 62, 112);
    border-radius: 10px;
    padding: 15px 10px;
    &:hover {
      background-color: rgb(0, 91, 165);
    }
  }

  &__variant-false {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(173, 49, 0);
    border-radius: 10px;
    padding: 15px 10px;

    &:hover {
      background-color: rgb(204, 59, 1);
    }
  }

  &__variant-true {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 172, 86);
    border-radius: 10px;
    padding: 15px 10px;

    &:hover {
      background-color: rgb(1, 202, 102);
    }
  }
}
